body{
	background-image: url('https://i.ibb.co/vVH0qTc/Cardi-B-Wallpaper.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	color:white;
	font-family: 'Raleway', sans-serif;
}
#title{
	text-align: center;
}
#description{
	text-align: center;
}
input, select, textarea {
	width: 100%;
	border: 1px solid black;
	margin-bottom: 5%;
	margin-top:1%;
}
input, select {
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
}
textarea{
	
	padding-bottom:10%;
}
#full-container{
	border-radius: 10px;
	margin: 5% 30% 5% 30%;
	padding: 30px 30px 30px 30px;
	background:rgba(40, 41, 95,0.8);
}


input[type=radio], input[type=checkbox] {
	width: auto;
}
#checkboxes-title, #radio-title, .container{
	display: block;
}
	